body {
  background-color: #282c34;
  color: #FFFEFC;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8vmin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 0 calc(2vmin + 10px);
}

.link {
  color: #61dafb;
}

.redditLink {
  text-align: center;
}

#status {
  background-color: #282c34;
  border-top: 2px solid #61dafb;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 4px 4px;
  font-size: 1.9vmin;
  font-weight: bold;
}

#status div {
  display: inline;
}

.active:hover {
  cursor: pointer;
}

#status #progress {
  float: right;
  padding-right: 4px;
}

#status a {
  color: #FFFEFC;
  text-decoration: none;
  border-bottom: 1px solid #FFFEFC;
  margin: 0 0 0 40px;
}

.ReactTable .-pagination .-btn {
  color: white;
}

.ReactTable .rt-thead .rt-tr {
  text-align: left;
}

.ReactTable.-striped .rt-tr.-odd {
  background-color: #383c44;
}

[role=columnheader] div {
  display: flex;
  align-items: center;
  height: 2.4vmin;
}

[role=columnheader] .icon {
  font-size: 2.1vmin;
}

.help {
  color: #00AA00;
}

#help {
  position: fixed;
  bottom: 40px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: 4px solid #00AA00;
  color: #FFFEFC;
  background-color: #282c34;
}

.expanded-target {
  padding: 0.2vmin 2vmin;
  border: 1px solid  #FFFEFC;
}

.ReactTable
.expanded-target a {
  color: aquamarine;
  text-decoration: none;
  border-bottom: 1px solid #fffefc;
}

.ReactTable .rt-expander:after {
  border-top: 7px solid #FFFEFC;
}

.reset {
  color: red;
}
